{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <h1>Employee List</h1>
    
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="GET" action="{% url 'emp-search' %}">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>Religion</th>
                <th>Addition Note</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
            <tr>
                <td>
                    <a href="{% url 'emp-update' id=emp.id %}">Edit</a>
                    |
                    <a href="javascript:del(`{% url 'emp-delete' id=emp.id %}`)">Delete</a>
                </td>
                <td>{{ emp.firstname }}</td>
                <td>{{ emp.lastname }}</td>
                <td>{{ emp.gender }}</td>
                <td>{{ emp.position }}</td>
                <td>{{ emp.salary }}</td>
                <td>{{ emp.address }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.phone }}</td>
                <td>{{ emp.birthday }}</td>
                <td>{{ emp.religion }}</td>
                <td>{{ emp.addition_note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function del(url) {
        if (confirm('Are you sure you want to delete?')) {
            document.location = url
        }
    }
</script>

{% endblock content %}