{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <h1>Home Page</h1>
    
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-success" href="{% url 'emp-create' %}">Add Employee</a>
    <a class="btn btn-outline-primary" href="{% url 'emp-read' %}">List Employees</a>
    <br><br>
    <a class="btn btn-outline-success" href="{% url 'prod-create' %}">Add Product</a>
    <a class="btn btn-outline-primary" href="{% url 'prod-read' pg=1 %}">List Products</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{% url 'emp-read' %}">List Employees</a>
    <a class="btn btn-outline-primary" href="{% url 'prod-read' %}">List Products</a>
    {% endif %}
</div>

{% endblock content %}