{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-4 mb-4">
    {% if not form.is_valid %}
    <form action="" method="POST" class="m-auto">
        {% csrf_token %}
        {{ form|crispy }}

        {% if not is_update %}
        <button type="submit" class="btn btn-primary">Save</button>
        {% else %}
        <button type="submit" class="btn btn-success">Update</button>
        {% endif %}
    </form>
    {% else %}
    <h3>Successfully saved</h3>
    <a href="{% url 'prod-create' %}">Add product</a>
    {% endif %}
</div>

{% endblock content%}