{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

    <h1>Product List</h1>
    
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="GET" action="{% url 'prod-search' %}">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            {% for r in page %}
            <tr>
                <td>
                    <a href="{% url 'prod-update' id=r.id %}">Edit</a>
                    |
                    <a href="javascript:del(`{% url 'prod-delete' id=r.id %}`)">Delete</a>
                </td>
                <td>{{ r.id }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.description }}</td>
                <td>{{ r.price }}</td>
                <td>{{ r.employee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4 text-center">
        {% for n in page.paginator.page_range %}
            {% if n != page.number %}
            <a href="{% url 'prod-read' pg=n %}">{{ n }}</a>
            {% else %}
            {{ n }}
            {% endif %}

            {% if not forloop.last %}
            -
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    function del(url) {
        if (confirm('Are you sure you want to delete?')) {
            document.location = url
        }
    }
</script>

{% endblock content %}